.task-wrapper {
    border: 1px solid gray;
    padding: 15px;
    border-radius: 15px;
    background: aliceblue;
    width: 400px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons-container {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.add-note {
    display: flex;
    gap: 10px;
}

input {
    border: none;
}

.notes-container {
    padding-inline-start: 10px;
    background-color: white;
}

.delete-button {
    background-color: red;
}

.mark-as-completed-button {
    background-color: green;
}