.task-list-wrapper {
    display: flex;
    gap: 15px;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
}

.paginator {
    position: fixed;
    bottom: 0;
    background: burlywood;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
}